*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#display{
    height: 100px;
    border: 2px solid lightgray;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#screen{
    height: 40px;
    border: 2px solid pink;
    text-align: right;
}

#resultScreen{
    border: 2px solid lightblue;
    flex-grow: 1;
    text-align: right;
}

#buttons{
    flex-grow: 1;
    margin: 5px;
    border: 2px solid lightgray;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    width: 95px;
    flex-grow: 1;
}